/** Header **/


/*** Fonts header ***/

@media screen and (max-width: 1200px) {
    .principal-header {
        --app-font-size: 1.2rem;
    }
}

.principal-header .sub-header{
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
}

@media screen and ( min-width: 1500px) {
    .principal-header .sub-header{
        padding: 0px 60px;
    }
}

.principal-header .logo-link img{
    max-width: 100%;
}

.principal-header .logo-link{
    width: 8%;
    min-width: 65px;
}

@media screen and ( min-width: 1500px) {
    .principal-header .logo-link{
        width: 93px;
    }
}

/** Nav **/

.principal-header .bloc-left {
    display: flex;
}

.principal-nav{
    flex:1;
}


/** Desktop Menu **/

.principal-nav ul.desktop-menu li{
    display: inline-block;
    margin-left: 20px;
}

.principal-nav ul.desktop-menu li a{
    transition: color .4s;
    color: #e5e5e5;
    display: inline-block;
}

.principal-nav ul.desktop-menu li:hover a{
    color: #b3b3b3;
}

.principal-nav ul.desktop-menu li.active a{
    color: var(--app-color-text-primary);
    cursor: default;
    pointer-events: none;
}

@media screen and ( max-width: 885px) {
    .principal-nav ul.desktop-menu {
        display: none;
    }
}


/*** Mobile Menu ***/

.principal-nav  ul.mobile-menu{
    margin-left: 18px;
}

.principal-nav  ul.mobile-menu li:is(:hover,.active,:focus-within) ul{
    display: block;
}

.principal-nav  ul.mobile-menu ul {
    width: 260px;
    transform: translateX(-90px);
    display: none;
}

.principal-nav ul.mobile-menu > li > a{
    transition: color .4s;
    color: #e5e5e5;
    display: inline-block;
}

@media screen and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) {
    body, html {
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 840px) {
    .principal-nav ul.mobile-menu > li li a{
        --font-size: 13px;
    }
}


.principal-nav  ul.mobile-menu > li > a::after{
    content: ' ';
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-top: 5px solid var(--app-color-text-primary);
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.principal-nav  ul.mobile-menu li ul li a{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and ( min-width: 885px) {
    .principal-nav ul.mobile-menu {
        display: none;
    }
}

