/** Header **/


/*** Fonts header ***/

@media screen and (max-width: 1200px) {
    .principal-header {
        --app-font-size: 1.2rem;
    }
}

.principal-header .sub-header{
    margin: 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media screen and ( min-width: 1500px) {
    .principal-header .sub-header{
        margin: 0px 60px;
    }
}

.principal-header .logo-link img{
    max-width: 100%;
}

.principal-header .logo-link{
    width: 8%;
    min-width: 65px;
    display: flex;
    align-items: center;
}

@media screen and ( min-width: 1500px) {
    .principal-header .logo-link{
        width: 93px;
    }
}

/** Nav **/

.principal-header .bloc-left {
    display: flex;
}

.principal-nav{
    flex:1;
    align-content: center;
}


/** Desktop Menu **/

.principal-nav ul.desktop-menu li{
    display: inline-block;
    margin-left: 20px;
}

.principal-nav ul.desktop-menu li a{
    transition: color .4s;
    color: #e5e5e5;
    display: inline-block;
}

.principal-nav ul.desktop-menu li:hover a{
    color: #b3b3b3;
}

.principal-nav ul.desktop-menu li.active a{
    color: var(--app-color-text-primary);
    cursor: default;
    pointer-events: none;
}

@media screen and ( max-width: 885px) {
    .principal-nav ul.desktop-menu {
        display: none;
    }
}


/*** Mobile Menu ***/

.principal-nav  ul.mobile-menu{
    margin-left: 18px;
}

.principal-nav  ul.mobile-menu li:focus-within ul{
    display: block;
}

.principal-nav  ul.mobile-menu ul {
    width: 260px;
    transform: translateX(-90px);
}

.principal-nav ul.mobile-menu > li > a{
    transition: color .4s;
    color: #e5e5e5;
    display: inline-block;
}

@media screen and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) {
    body, html {
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 840px) {
    .principal-nav ul.mobile-menu > li li a{
        --font-size: 13px;
    }
}


.principal-nav  ul.mobile-menu > li > a::after{
    content: ' ';
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-top: 5px solid var(--app-color-text-primary);
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.principal-nav  ul.mobile-menu li ul li a{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and ( min-width: 885px) {
    .principal-nav ul.mobile-menu {
        display: none;
    }
}



/** Right bloc **/

.principal-header .bloc-right{
    display: flex;
    position: absolute;
    right: 0;
}

.account-dropdowns-list{
    display: flex;
    align-items: center;
}


/** Search Input **/

.search-container{
    display: flex;
    position: relative;
    height: 34px;
    border: 1px solid var(--app-color-border-gray-white);
    align-items: center;
    padding: 6px;
}

.search-container .search-input{
    border: none;
    background-color: transparent;
    color: var(--app-color-text-primary);
    padding: 7px 14px 7px 7px;
    width: 212px;
    transition: .4s;
}

.search-container .search-input:focus{
    outline: none;
}

.search-container #search-icon{
}

.search-container #search-icon, .search-container #close-icon {
    /* position: absolute; */
}

.search-input:invalid+svg{
    visibility: hidden;
}

.search-container:not(.open) {
    padding: 0;
    border: none;
}

.search-container:not(.open) .search-input{
    padding-left: 0;
    padding-right: 0;
    width: 0px;
    padding: 0;
    transition: .05s;
}

.search-container:not(.open) #close-icon{
    visibility: hidden;
    width: 0;
    transition: .05s;
}