/*** 
    Author: EBOBISSE EPOUNE Parfait
    Date: 08/06/2024
***/

/* Temp */
main {
    /* min-height: 115vh; */
}
/* end Temp */

/** Import fonts **/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/** Variables **/

:root {
    /* app-fonts */
    --app-font-family: "Netflix Sans","Helvetica Neue","Segoe UI","Roboto","Ubuntu","sans-serif";
    --app-font-size: 14px;
    --app-font-weight: 500;
    /* app-color */
    --app-color-primary: #141414;
    /* --app-color-primary-opacited: rgba(116, 81, 235, 0.08); */
    --app-color-accent: "#e50914";
    --app-color-gray: "#ffffff4d";

    --app-color-text-primary: #fff;
    --app-color-text-accent: #000;
    --app-color-text-green: #46d369;
    --app-color-text-gray: #777;
    --app-color-text-gray-2: #d2d2d2;

    --app-color-border-gray-white: #FFF;
    --app-color-border-gray-light: #ffffff66;
    --app-color-border-gray-high-light: #2a2a2a99;
    
    /* app-background */
    --app-color-background-default: #141414;
    --app-color-background-tranparence: #6d6d6eb3;
    --app-color-background-tranparence-light: #6d6d6e66;
    --app-color-background-tranparence-2: #33333399;

    /* app-color-icon */
    --app-color-icon-dark: #000;
    --app-color-icon-light: #FFF;

    /* app-border-raduis */
    --app-border-button-raduis-default: 6px;

    /* --app-global-padding-default */
    --app-global-padding-default: 3em;
    --app-padding: 0.5em 1em;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--app-color-text-primary);
}

p {
    margin-top: 0rem;
    font-size: 1rem;
    line-height: 1.42rem;
    padding: 0;
}

body,
html {
    font-family: var(--app-font-family);
    font-weight: var(--app-font-weight);
    font-size: var(--app-font-size);
    color: var(--app-color-text-primary);
    margin: 0;
    padding: 0;

    /*** TEMP ***/
    background-color: #000;
}

/** titles **/

h1 {
    margin: 0;
}


@media screen and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) {
    body, html {
        --app-font-size: .85vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) {
    body, html {
       --app-font-size: 1.2vw;
    }
}

@media screen and (max-width: 481px) {
    body, html {
       --app-font-size: 12px;
    }
}

@media screen and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) {
   
}

/** constraint-box  **/

.constraint-box {
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 992px) {
    .constraint-box {
        /* max-width: 704px; */
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1280px) {
    .constraint-box {
        max-width: 1920px;
    }
}

/** Padding **/

.padding-default {
    padding-left: var(--app-global-padding-default);
    padding-right: var(--app-global-padding-default);
}

@media (min-width: 0px) {
    .padding-default {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/** paragraph **/

.sticky {
    position: sticky;
}

/** links **/

.flat-link {
    font-weight: 500;
    color: var(--app-color-text-primary);
}

/** bold & strong **/

b {
    font-weight: 500;
}

/** buttons **/

.reset-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    appearance: none;
    -webkit-appearance: none;
}

/** Others **/

.event-none {
    pointer-events: none;
}

.shadow {
    background-color: rgb(255, 255, 255);
    color: rgb(39, 26, 56);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 16px 0px, rgba(0, 0, 0, 0.05) 0px 9px 12px 0px;
    border: none;
}

.section-default {
    background: transparent;
    padding-bottom: 0rem;
    position: relative;
}

/** Images **/


/*
----------table-contain-section--------
*/

table {

}

th {
    
}

td {
    
}

tbody tr:hover {
}

table .btn {
}

table tr td{
}


/*** Listes ***/

ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}


/*** Dropdown ***/

.dropdown-menu{
    position: absolute;
    --size-arrow : 9.5px;
}

.dropdown-menu li{
    background: rgba(0,0,0,.9);

}

.dropdown-menu li:hover{
    background: rgba(0,0,0,.85);
}

.dropdown-menu li a{
    display: inline-block;
}


.dropdown-menu {
    display: none;
}

.parent-dropdown-menu li:hover .dropdown-menu {
    display: block;
}

/** Top Line **/

.with-top-line {
    border-top:  2px solid #e5e5e5;
}

.transparent-top-line {
    border-top-color: transparent;
}

.with-top-arrow::before{
    content: ' ';
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: var(--size-arrow) solid transparent;
    border-right: var(--size-arrow) solid transparent;
    border-bottom: calc(var(--size-arrow) - 0.5px) solid #e5e5e5;
    position: absolute;
    top: calc(-8px - 2px); /* (:before#border-bottom + with-top-line#border-top) */
    left: calc(50% - var(--size-arrow));
}

.with-top-arrow-left::before{
    left: calc(100% - var(--size-arrow) * 2 - 7px);
}

.dropdown-menu.transparent-top-line.with-top-arrow::before{
    top: calc(-8px - 2px - 4px);
}
